* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  width: 100%;
  background-color: black;
}
main {
  position: relative;
}
section {
  min-height: 100vh;
  position: relative;
  z-index: 2;
}

nav {
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
  font-size: 1vw;
  position: relative;
  z-index: 2;
  svg {
    width: 100%;
    height: 100%;
  }
  .nav-elem {
    padding: 1vw 0;
    max-width: 7rem;
  }
}
#section1 {
  min-height: 120vh;
  display: flex;
  .top-center-left {
    width: 50%;
    padding-block: 4rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    line-height: 14vh;
    letter-spacing: 0.7;
  }
  .top-center-left h1 {
    font-size: 8rem;
    color: white;
    font-weight: 900;
  }

  .top-center-right {
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;

    gap: 1.5rem;
    padding: 0rem 5rem;
    flex-direction: column;
    color: white;
    justify-content: flex-end;
    width: 50%;
    .right-upper-text h4 {
      font-size: 1.5rem;
      display: flex;
      color: whitesmoke;
      flex-direction: column;
      font-weight: 300;
    }
    .right-lower-text {
      font-family: Arial, Helvetica, sans-serif;
      display: flex;
      color: grey;
      flex-direction: column;
      margin-bottom: 3rem;
    }
    h5 span {
      padding-right: 1vw;
      color: white;
      font-weight: 300;
    }
    h5 span:hover {
      color: grey;
    }
  }
  #left-line {
    width: 35rem;
    height: 1px;
    background-color: rgba(255, 0, 0, 0.793);
    position: absolute;
    transform: rotate(45deg);
    top: 50%;
    left: 0%;
  }
  #right-line {
    width: 10rem;
    height: 1px;
    background-color: rgba(255, 0, 0, 0.793);
    position: absolute;
    transform: rotate(-45deg);
    top: 20%;
    right: 20%;
  }
}

/* ******************** */
/* Section 2 */
/* ******************** */

#section2 {
  /* background-color: chocolate; */
  padding-inline: 3vw;
  position: relative;
  z-index: 2;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  #section2-center {
    padding-top: 30vh;
    .center-headings {
      display: flex;
      gap: 5vw;
      opacity: 0.2;
      color: white;
      cursor: pointer;
      padding-block: 1rem;
      transition: all 0.3s linear;
      padding-block: 2rem;
    }
    .center-headings:hover {
      opacity: 1;
    }
    .center-headings p {
      line-height: 1;
      font-size: 5rem;
      font-weight: 100;
      letter-spacing: 0.2rem;
    }
    .center-headings span {
      width: 10vw;
      text-align: end;
      margin-top: 0.8rem;
      letter-spacing: 0.2rem;
      font-size: 0.7rem;
    }
  }
}

#canvas::after {
  content: "";
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-image: url(/background-xxs.png);
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 0.3s linear;
}

main:has(#section2 .center-headings:hover) #canvas::after {
  opacity: 0;
}

.images {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s linear;
  }
}

main:has(#section2 .center-headings[img-title="tomorrowland"]:hover)
  .images
  #tomorrowland {
  opacity: 1;
  background-color: rgb(3, 5, 11);
}

main:has(#section2 .center-headings[img-title="navy-pier"]:hover)
  .images
  #navy-pier {
  opacity: 1;
  background-color: rgb(3, 5, 11);
}
