
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body,#root{
  width: 100%;
  background-color: black;
}
main{
  position: relative;
}
section{
  min-height:100vh ;
  position: relative;
  z-index: 2;
}
  
  nav{
    display:flex;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem;
    font-size: 1vw;
      position: relative;
  z-index: 2;
      svg{
    width: 100%;
    height: 100%;
  }
    .nav-elem{
    padding: 1vw 0;
    max-width: 7rem;
  }
  }
#section1{
display: flex;
  .top-center-left{
    background-color: blue;
    
    width: 50%;
    padding-block: 4rem ;
    display: flex;
    flex-direction: column;
    align-items: end;
    line-height: 14vh;
    letter-spacing:0.7;
  }
  .top-center-left h1{
    font-size: 8rem;
    color:white;
    font-weight: 900;
    background-color: aquamarine;

    
  }
  .top-center-right{
    width: 50%;
    background-color: aqua;
    height: 100vh;
  }
}
