*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body,#root{
  background-color: black;
}
section{
  min-width: 100vw;
  min-height:100vh ;
  border: 2px solid white;
}
canvas{
  min-height: 100vh;
  min-width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url("/background-xxs.png");
  background-repeat: no-repeat;
  background-size: cover;
}