* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  width: 100%;
  background-color: black;
}
main {
  position: relative;
}
section {
  min-height: 100vh;
  position: relative;
  z-index: 2;
}

nav {
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem;
  font-size: 1vw;
  position: relative;
  z-index: 2;
  svg {
    width: 100%;
    height: 100%;
  }
  .nav-elem {
    padding: 1vw 0;
    max-width: 7rem;
  }
}
#section1 {
  display: flex;
  .top-center-left {
    width: 50%;
    padding-block: 4rem;
    display: flex;
    flex-direction: column;
    align-items: end;
    line-height: 14vh;
    letter-spacing: 0.7;
  }
  .top-center-left h1 {
    font-size: 8rem;
    color: white;
    font-weight: 900;
  }

  .top-center-right {
    display: flex;
    gap: 1.5rem;
    padding: 0rem 5rem;
    flex-direction: column;
    color: white;
    justify-content: flex-end;
    width: 50%;
    .right-upper-text {
      font-size: 1.5rem;
      display: flex;
      color: whitesmoke;
      flex-direction: column;
    }
    .right-lower-text {
      display: flex;
      color: grey;
      flex-direction: column;
    }
  }
}
